.arjit ion-img {
  width: 100px;
  height: 100px;
}
.kkk {
  margin-top: 20px;
}
.kk {
  font-size: medium;
  font-weight: bold;
  color: orange;
  margin-top: 20px;
}
.k {
  margin-top: 5px;
  font-size: small;
}
