.content-gridd {
  text-align: center;
  display: flex;
  flex-direction: column;
  
  /* height: 100vh; */
  font-style: normal;
  /* font-family: Calibri; */
}
/* .chevron-back-outline {
  color: #696460;
} */
.ion-content {
  --background:white!important;
}

.dashboard-row1 {
  color:black;
  font-size: 20px;
  margin-left: 15px;
  font-weight: bold;
}

.dashboard-text {
  color: black;
  font-size: 20px;
  margin-left: 15px;
}
.singers-cards{
  --background: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.cards {
  /* height: 20vh; */
  /* margin: auto; */
  /* margin-bottom: 30px; */
}
/* .signout-btn {
  margin: auto;
} */
/* .toolbar-top {
  color: #696460;
} */

.row {
  margin-top: 20px;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.avatar-image {
  width: 90px;
  height: 90px;
  margin: auto;
}
#text-btns {
  margin: auto;
  font-size: 10px;
  color:black;
}
.avatar-imgs{
  /* height: 50vh; */
  margin: auto;
  margin-bottom: 30px;
}
