.content-grid-in {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  height: 80vh;
  font-family: Calibri;
}
.ion-content {
  --background: #696460 !important;
  height: 100%;
}
.content-grid-row1 {
  display: flex;
  justify-content: center;
  font-size: 15px;
  /* font-weight: 500; */
  color: black;
  font-style: normal;
  margin-bottom: 15px;
}
.content-grid-row2 {
  display: flex;
  justify-content: center;
  font-style: normal;
  font-size: 25px;
 font-weight: bolder;
  color:black;
}
.signin-top-img {
  margin: auto;
  margin-top: 100px;
  size: 10px;
  width: 150px;
  height: 150px;
}
.email {
 
  margin-right: 20px;
  margin-left: 20px;
  font-size:x-small;
  height: 27px;
  color: black;
  margin-top: 15px;
  border-radius: 15px;
  border:solid black 1px;
}
.password {
  /* --background: #e08d21 !important; */
  border:solid black 1px;
  margin-right: 20px;
  margin-left: 20px;
  font-size: x-small;
  height: 27px;
  color: black;
  border-radius: 15px;
}
.content-grid-row5 {
  margin-top: 7px;
  justify-content: center;
  display: flex;
  flex-direction: row;
 
}
.signin-btn {
  --background: #e08d21 !important;
  margin:auto;
  height: 30px;
  width: 70px;
  display: flex;
align-content: center;
flex-direction: column;
}

.text {
  color: black;
  font-size: small;
  justify-content: center;
  margin-top: 5px;
}
.icons {
  justify-content: center;
  margin-top: 40px;
}
.link {
  color: orange;
}
.google-facebook {
  justify-content: center;
}
/* .col-1{
        margin-left:40px!important;
    } */
